.store-service {
    background-color: #fff;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    /* text-align: justify; */
    padding-left: 10px;
}

/* .store-service-item {
    background-color: #fff;
} */
.service {
    border-bottom: 5px solid blue;
}