.store-service {
    background-color: #fff;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    /* text-align: justify; */
    padding-left: 10px;
}

.store-service-item {
    border-top: 2px solid blue;
}

.service-h4 {
    color: #000080;
}